.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #d5bdaf, #d6ccc2, #edede9, #f5ebe0, #fff);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
    z-index: -1;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.custom-img-home {
    height: 19rem;
}

.custom-col-home {
    max-width: 410px;
}

.nav-link:hover {
    color: white;
    border-bottom: 1px solid black;
    color: white;
    margin: 2px;
    transition: all 0.3s ease;
}

.title-food {
    margin-top: 11.5rem;
}

.custom-pratos {
    margin-left: 5.5rem;
}

.custom-img-card {
    width: 620px;
    height: 220px;
}

.custom-card-suco {
    margin: 6.2rem;
    margin-top: 3rem;
}

.image-card-juice {
    height: 300px;

}